NEXT_PUBLIC_SUPABASE_URL=https://vtqwmnzojiczpdedpked.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=<I will paste my Cloudflare Turnstile site key here>
TURNSTILE_SECRET_KEY=<I will paste my Cloudflare Turnstile secret here>
